<!--<p>Change Detection: WidgetListComponent</p>-->
<h1>Widget List</h1>
<table>
    <thead></thead>
    <tfoot></tfoot>
    <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let widget of widgets">
            <td>{{widget.id}}</td>
            <td>{{widget.name}}</td>
            <td>{{widget.description}}</td>
            <td>{{widget.price}}</td>
        </tr>
    </tbody>
</table>
